@media(max-width: 767px) and (min-width: 320px){
	.doctor2{
		margin-top: 40px;
	}
	.border-btm {
		border: none;
	}
	.border-top {
		border-top: solid 1px #000000!important;
		margin-top: 24px;
	}
	.address-block h2, .services-block h3 {
		font-size: 24px;
	}
	.ash-address address h5,
	.ash-time address,
	.ash-appoint p {
		font-size: 16px;
	}
	.bg-header2-color {
		position: relative;
		padding: 12px 0px;
	}
	.bg-header2-color button{
		position: absolute;
	    right: 0;
	    z-index: 999;
	}
	.nav-scroller{
		position: absolute;
	    z-index: 9;
	    top: 0;
	    left: 0;
	    right: 0;
	    background-color: black;
	}
}