@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.bg-header-color{
	background-color: #517dbc;
    padding: 10px 0px;
}
#header a, #header2 a{
	color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.social-links li{
    list-style-type: none;
    display: inline-block;
}
#header2 a:hover{
    color: #f9d62a;
}
#header2 li{
    padding: 0 18px;
}
.bg-header2-color{
	background-color: #5b8ec1;
}
.address-block h2,
.services-block h3{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 1.38;
    text-align: center;
    color: #0083c0;
}
.services-block h3{
    font-size: 40px;
}
.appointment-btn{
    font-weight: 600;
    color: #ffe484;
    border-color: #ffe484;
}
.appointment-btn:hover {
    color: #2a2730!important;
    background-color: #ffe484;
    border-color: #ffe484;
}
.service-image h2{
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    color: #4a4a4a;
    word-wrap: break-word;
    white-space: normal;
}
.paddingTB {
	padding: 40px 0px;
}
.services-header{
    background-color: #f5f5f5;
}
.service-image img{
    border-radius: 50%;
    height: 150px!important;
    width: 150px!important;
    overflow: hidden;
    display: initial!important;
}
.doctor-block h2 {
    margin-top: 17px;
}
.about-clinic{
	background-color: #e9ecef;
}
#form-footer{
	position: relative;
}
.sub-email input{
    border: 1px solid rgba(125, 125, 125, .4);
    font-size: 16px;
    font-weight: 500;
    color: #4a4a4a;
    width: 100%;
    padding: 13px;
}
.sub-button input{
	position: absolute;
    top: 1px;
    right: 2px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    padding: 13px 19px;
    border-left: 1px solid rgba(125, 125, 125, .4);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: inherit;
    font-weight: 600;
}
.border-btm{
	border-bottom: 1px solid #000000;
}
.copy-right p{
	margin-bottom: 0px;
}
.copy-right{
	padding: 30px 0px 6px 6px;
}
.about-us {
    padding: 80px 0px;
}
.about-us .about-content h1,
.publications h2,
.service-header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 1.33;
    font-weight: 700;
    color: #0083c0;
    padding-bottom: 15px;
}
.about-us .about-content p, 
.publications li{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.64;
    letter-spacing: 0.6px;
    text-align: justify;
    color: #2a2a2a;
}
.about-img,
.service-partition{
    padding: 40px 0px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.checkbox-select {
    margin: 0px;
}
.preferenselect-block li {
    width: 200px;
    margin-right: 20px;
    float: left;
    margin-bottom: 15px;
}
.termsNcons-block p, .termsNcons-block li {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    color: #3b3b3b;
}
.checkbox-select input:checked + label.fancy-checkbox-label {
    border: solid 1px #59de80;
}
.checkbox-select input[type="checkbox"].fancy-checkbox {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.checkbox-select label.fancy-checkbox-label {
    border-radius: 7px;
    border: solid 1px #dcdcdc;
    padding: 10px 0px 10px 14px;
    font-size: 16px;
    width: 200px;
    font-weight: 500;
    text-align: left;
    color: #4a4a4a;
    position: relative;
}
.checkbox-select input:checked + label.fancy-checkbox-label:after {
    opacity: 1;
}
.checkbox-select label.fancy-checkbox-label:after {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 30px;
    height: 30px;
    content: " ";
    background-repeat: no-repeat;
    background-image: url(assets/images/check-mark.png);
    opacity: 0;
}
.ash-address address h5,
.ash-time address,
.ash-appoint p{
    font-size: 18px;
}
nav button[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url(assets/images/menu.svg);
    background-size: 20px 15px;
}
nav button[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url(assets/images/menu-close.svg);
    background-size: 15px 15px;
}